$back: #06080B;
$white: rgb(246, 235, 235);
$white-subtle: rgba(246, 235, 235, 0.7);

@font-face {
    font-family: "Iosevka";
    src: url(/assets/iosevka.woff2);
}

html {
    min-height: 100vh;

    font-family: 'Iosevka';
    color: $white;
}

html, body, #root {
    display: flex;
    flex: 1;
}

body {
    background: $back;
    margin: 0;

    flex-direction: column;
    justify-content: flex-start;
}

$code-border: #282828;

.code {
    background: #000000;
    border: $code-border 2px solid;
    border-radius: 16px;
    padding: 32px;
    margin: 0;

    font-size: 1.2rem;
    font-family: 'Iosevka';

    white-space: pre-wrap;
}

.code-inline {
    border: $code-border 2px solid;
    border-radius: 4px;
    background: #000000;
    padding: 0 8px;
}

$color-kw: #F7005E;
$color-str: #00EA8C;
$color-fn: #00E8FF;
$color-int: #BB4DFF;

span.kw {
    color: $color-kw;
}

span.str {
    color: $color-str;
}

span.fn {
    color: $color-fn;
}

span.int {
    color: $color-int;
}

span.com {
    color: #4a4f54;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    top: 64px;
    left: 64px;

    > .logo {
        width: 200px;
        height: auto;
    }

    > .text {
        display: flex;
        flex-direction: column;
        margin-left: 36px;

        > .koi {
            font-size: 4rem;
        }

        > .slogan {
            color: $white-subtle;
            font-size: 1.2rem;
        }
    }
}

.taste {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.taste > .container {
    margin-top: 128px;

    padding: 0 256px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 48px;

    > .code {
        flex: 1;
        align-self: stretch;
    }

    > .desc {
        flex: 2;

        font-size: 1.2rem;
        align-self: center;
    }
}

.desc > .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 22px;
}

a.button {
    background: $white;
    color: $back;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 4px;
}

$bar-height: 32px;

div.section-header {
    background: $white;
    color: $back;

    font-size: 2rem;
    padding: $bar-height + 12px 0 12px 256px;
}

div.section {
    margin: 128px auto;
    width: 50%;
    min-width: 800px;

    font-size: 1.2rem;

    .code {
        margin: 36px 0;
    }
}


.footer {
    background: $white;

    align-self: stretch;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 22px;
    }

    .button {
        color: $white;
        background: $back;
    }

    > span {
        color: $back;
        margin-top: 36px;

        > a {
            color: $back;
        }
    }
}

.bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: $bar-height;
    background: $white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 12px;

    > a {
        color: $back;
    }

    > span {
        color: rgba($back, 0.7);
    }
}
