$back: #06080B;
$white: rgb(246, 235, 235);
$white-subtle: rgba(246, 235, 235, 0.7);

@font-face {
    font-family: "Iosevka";
    src: url(/assets/iosevka.woff2);
}
fi
html {
    font-family: 'Iosevka', monospace;
    color: $white;
}

html, body {
    display: flex;
    flex: 1;
}

body {
    background: $back;
    margin: 0;

    flex-direction: column;
    justify-content: flex-start;

    font-size: 1.2rem;
}

$code-bg: black;
$code-border: #282828;

.code {
    background: $code-bg;
    border: $code-border 2px solid;
    border-radius: 16px;
    padding: 32px;
    margin: 0;

    font-size: 1.2rem;
    font-family: 'Iosevka', monospace;

    white-space: pre-wrap;
}

.code-inline {
    background: $code-bg;
    border: $code-border 2px solid;
    border-radius: 4px;
    padding: 0 8px;
}

$color-kw: #F7005E;
$color-str: #00EA8C;
$color-fn: #00E8FF;
$color-int: #BB4DFF;

span.kw {
    color: $color-kw;
}

span.str {
    color: $color-str;
}

span.fn {
    color: $color-fn;
}

span.int {
    color: $color-int;
}

span.com {
    color: #4a4f54;
}

.hero {
    height: 100vh;

    width: 80%;
    min-width: 860px;

    @media screen and (orientation: portrait) {
        height: initial;

        width: 100%;
        min-width: 0;

        padding: 36px 12px;
        box-sizing: border-box;
    }

    align-self: center;
    justify-content: center;

    display: flex;
    flex-direction: column;

    gap: 64px;

    > .taste {
        align-self: stretch;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-wrap: wrap;

    gap: 36px;

    @media screen and (orientation: portrait) {
        align-self: center;
        justify-content: center;
    }

    > .logo {
        width: 200px;
        height: auto;
    }

    > .text {
        display: flex;
        flex-direction: column;

        > .koi {
            font-size: 4rem;
        }

        > .slogan {
            font-size: 1.2rem;
            color: $white-subtle;
        }
    }
}

.taste {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex-wrap: wrap;

    gap: 48px;

    > .code {
        flex: 1;
    }

    > .desc {
        flex: 2;

        > .buttons {
            display: flex;
            flex-direction: row;
            margin-top: 32px;
            gap: 22px;
        }
    }
}

a.button {
    background: $white;
    color: $back;
    text-decoration: none;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

$bar-height: 32px;

.section-header {
    background: $white;
    color: $back;

    font-size: 2rem;
    padding: $bar-height + 12px 0 12px 10%;
}

.section {
    margin: 128px auto;

    width: 50%;
    min-width: 860px;

    @media screen and (orientation: portrait) {
        width: 100%;
        min-width: 0;

        padding: 0 12px;
        box-sizing: border-box;

        margin: 12px auto;

        text-align: center;
        pre {
            text-align: initial;
        }
    }

    .code {
        margin: 36px 0;
    }
}


.footer {
    background: $white;

    align-self: stretch;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 22px;

    box-sizing: border-box;

    text-align: center;

    > .buttons {
        display: flex;
        flex-direction: row;
        gap: 22px;
    }

    .button {
        color: $white;
        background: $back;
    }

    span, a {
        color: $back;
    }
}

.bar {
    @media screen and (orientation: portrait) {
        display: none;
    }

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    height: $bar-height;
    background: $white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 32px;

    > a {
        color: $back;
        white-space: nowrap;
    }
}
